 .sidebar {
    position: fixed;
    top: 80px;
    left: 0;
    width: 80px;                
    /* width: 250px;                  */
    height: calc(100% - 80px);
    background-color: #202028;
    color: #56565a;
    overflow-y: auto;
    transition: all 0.3s ease;
    z-index: 1000;
    padding-top: 30px;
  }
  
  .sidebar.collapsed {
    width: 80px;
  }
  
  .collapse-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #202028;
    border: none;
    color: #56565a;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    z-index: 1001;
    transition: right 0.3s ease;
  }
  
  .sidebar.collapsed .collapse-toggle {
    right: 10px;
  }


  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position: relative; 
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #56565a;
    text-decoration: none;
    width: 100%;
  }
  
  .icon {
    font-size: 24px;
  }
  
  .menu-name {
    margin-left: 10px;
    padding-top: 7px;
    white-space: nowrap;
    transition: all 0.3s ease;
  }
  
  .sidebar.collapsed .menu-name {
    display: none;
  }
  
  /* Style for active link */
  .nav-link.active .icon,
  .nav-link.active .menu-name {
    color: #7294ff;
  }
  
  .nav-link.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 35px; 
    background-color: #7294ff;
    border-radius: 0px;
  }
  