body{
  padding: 0px;
  margin: 0px;
  background-color: #141416;
}

.App{
  height: 100%;
  width: 100%;
}

/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  width: 80px !important;
  /* width: 250px; */
  height: calc(100% - 80px);
  background-color: #202028;
  color: #fff;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.sidebar-open .sidebar {
  transform: translateX(0);
}

.sidebar .menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .menu li {
  display: flex;
  align-items: center;
  padding: 15px;
}

.sidebar .menu .nav-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  width: 100%;
}

.sidebar .menu .nav-link .icon {
  font-size: 24px;
}

.sidebar .menu .nav-link .menu-name {
  margin-left: 10px;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.sidebar .menu .nav-link.active {
  /* background-color: #495057; */
}

.content {
  margin-top: 80px;
  padding: 15px;
  margin-left: 80px !important;
  transition: margin-left 0.3s ease;
}

.sidebar-open .content {
  margin-left: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 53, 53, 0.534);
  /* background: rgba(0, 0, 0, 0.5); */
  z-index: 999;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar-open .sidebar {
    transform: translateX(0);
  }

  .content {
    margin-left: 0px !important;

  }
}
